body{
    background-color: #363636;
    font-family: monospace, "Courier New", Consolas;
    margin: 0%;
    padding: 0%;
    letter-spacing: 0.1rem;
    overflow-x: hidden;
}
#navbar{
   width: 100%;
   height: 7vw;
   display: flex;
   background-color:transparent;
   text-align: center;
}
.cursor{
    display: inline-block;
    width: 0.3vw;
    background-color: #fa945a;
    margin-left: 0.1rem;
    animation: blink 1s infinite;
}
@keyframes blink{
    0%{background-color: #e05b49;}
    50%{background-color: transparent ;}
    100%{background-color: #e05b49;}
}
/* .cursor.typing{
    animation: none;
} */
.navbar_container{
    margin-top: 0.3vw;
    display: flex;
    margin-left: 0.5vw;
}
.background_image{
    width: 100%;
    height: 55vw;
  position: relative;
  text-align: center;
  color: white;
}
.logo img{
    height: 5vw;
    width: 5.0vw;
    border-radius: 50%;
}
.list_items{
    display: flex;
    font-size: 1.6vw;
    list-style-type: none;
}
.list_items a{
    margin-left: 1.5vw;
    padding: 1vw;
    border-radius: 2.1vw;
    color: #e05b49;
    text-decoration: none;
}
.list_items a:hover{
    background-color: black;
}
.image img{ 
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
}
.greet{
    display: flex;
    justify-content: center;
}
.content{
    margin-top: 0.7vw;
    text-align: center;
    color:  #fa945a;
    font-size: 1.7vw;
}
.intrest{
    text-align: center;
    color:  #fa945a;
    font-size: 1.7vw;
}
#education{
    margin-top: 1.5vw;
    height: 53vw;
    background-color: #222222;
}
.education_heading{
    text-align: center;
    color: #e05b49;
    font-size: 2.8vw;
    margin-top: 1.6vw;
}
.collage{
    text-align: center;
    color: #e05b49;
    font-size: 1.7vw;
}
.school{
    text-align: center;
    color: #e05b49;
    font-size: 1.7vw;
}
.skills_container{
    margin-top: 0vw;
    display: flex;
    justify-content: center;
}
.skills_heading{
    text-align: center;
    color: #e05b49;
    font-size: 2.8vw;
    margin-top: 2vw; 
    margin-bottom: 0%;  
}
.skills_heading_skill{
    color: #e05b49;
    font-size: 1.7vw;
    margin-top: 1.5vw; 
}
.skills_content{
    color: #fa945a;
    font-size: 1.7vw;
}
.container_para{
    text-align: center;
    color: #e05b49;
    font-size: 3vw;
    margin-top: 3vw;
    /* fo */
}
.project_name{
    text-align: center;
    color: #e05b49;
    font-size: 2.3vw;
}
#projects{
    display: flex;
    position: relative;
    width: 100%;
}
#projects:after{
    content: "";
    display: block;
}
.project_content{
    width: 42vw;
    margin-left: 3vw;
    height: 26vw;
    border-radius: 2%;
    padding: 1vw;
    border: 0.5vw solid rgb(90, 90, 90);
    background-color: #222222;
}
.project_name_content{
    color: #fa945a;
    font-size: 1.7vw;   
}
#footer{
    height: 18vw;
    background-color: #222222;
}
.sociallinks{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.sociallinks a{
    text-decoration: none;
    margin: 2vw;
}
.container{
    margin-top: 0%;
}
.fa {
    padding: 1.6vw;
    font-size: 1.6vw;
    border-radius: 50%;
    height: 1vw;
    width: 1vw;
    text-align: center;
    text-decoration: none;
    margin: 0.3vw 0.1vw;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-github {
    background: black;
    color: white;
  }
  .line-1{
      color:  #e05b49;
      border-right: 0.1vw solid #e05b49;
      font-size: 2.5vw;
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%);    
  }
  .anim-typewriter{
    animation: typewriter 2s steps(21) 1s 1 normal both,
               blinkTextCursor 500ms steps(21) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 11em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color:#e05b49}
    to {border-right-color: transparent;}
  }